@media screen and (max-width:360px) and (max-height:640px){
    body{
        background-color: #DC0A2D;
    }
    /*Frame 29*/
    Header{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 12px 12px 24px;
        gap: 8px;

        width: 352px;
        height: 108px;

        border-radius: 0px;

        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 0;
        z-index: 2;
        box-sizing: border-box;
    }
    /*Frame 29 > Title*/
    div.title{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        gap: 16px;
    
        width: 328px;
        height: 32px;
    
        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 0;
    }

    /*Frame 29 > Title > Pokeball(Image)*/
    img{
        width: 24px;
        height: 24px;
        
        flex: none;
        order: 0;
        flex-grow: 0;
    }

    /*Frame 29 > Title > Pokeball(Title)*/
    div.title>span{
        width: 106px;
        height: 32px;

        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
        
        display: flex;
        align-items: center;
        
        color: #FFFFFF;
        
        flex: none;
        order: 1;
        flex-grow: 0;
    }

    /*Frame 29 > Filters*/

    div.filters{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        gap: 16px;

        width: 328px;
        height: 32px;

        flex: none;
        order: 1;
        align-self: stretch;
        flex-grow: 0;
    }

    /*Frame 29 > Filters > Search Bar*/
    
    .input-icono{
        background-image: url('/img/icons/search.png')!important;
        background-repeat: no-repeat!important;
        background-position: 10px center!important;
        background-size: 16px!important;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 8px 16px 8px 32px;
        gap: 8px;
        width: 280px;
        height: 32px;
        box-shadow: inset 0px 1px 3px 1px rgba(0, 0, 0, 0.25);
        border-radius: 16px;
        background: #FFFFFF;

        box-sizing: border-box;

        flex: none;
        order: 0;
        flex-grow: 1;
        outline: none;
    }

    .input-icono>button{
        display: none;
        background-image: url('/img/icons/cancel.png');
        background-color: transparent;
        background-repeat: no-repeat;
        background-position: right center;
        background-size: 16px;
        width: 17px;
        height: 16px;
        border: none;
    }
    
    .input-icono input#search.search{
        width: 100%;
        height: 100%;
        border: none;
    }

    .input-icono input#search.search:focus{
        outline: none;
    }

    /*Frame 29 > Filters > Sort by*/

    button.sort{
        display: flex;
        flex-direction: row;
        align-items: flex-start;

        padding: 8px;
        gap: 8px;

        width: 32px;
        height: 32px;

        background: no-repeat url('/img/icons/sort_number.png');
        background-color: #FFFFFF;
        background-size: 16px;
        background-position: center;

        box-shadow: inset 0px 1px 3px 1px rgba(0, 0, 0, 0.25);
        border-radius: 16px;

        flex: none;
        order: 1;
        flex-grow: 0;
        box-sizing: border-box;
        border: none;
    }

    /*List*/

    main.list{
        display: grid;
        align-items: flex-start;
        padding: 24px 10px 24px 10px;
        gap: 8px;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));

        

        background: #FFFFFF;

        box-shadow: inset 0px 1px 3px 1px rgba(0, 0, 0, 0.25);
        border-radius: 8px;

        flex: none;
        order: 1;
        align-self: stretch;
        flex-grow: 1;
        z-index: 1;

        box-sizing: border-box;
    }

    /*List > ¿Row? > List Item*/

    main.list>article{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 0px;
        isolation: isolate;

        width: 104px;
        height: 108px;

        background: #FFFFFF;

        box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.2);
        border-radius: 8px;

        flex: none;
        order: 0;
        flex-grow: 0;
    }

    /*List > ¿Row? > List Item > Number*/
    section{
        box-sizing: border-box;
    }

    main.list>article{
        position: relative;
    }

    main.list>article>section.id{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: flex-start;
        padding: 4px 8px 0px;
        gap: 8px;

        width: 104px;
        height: 16px;

        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 0;
        z-index: 0;
    }
    main.list>article>section.id>span{
        width: 20px;
        height: 12px;

        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 8px;
        line-height: 12px;

        display: flex;
        align-items: center;
        text-align: right;

        color: #666666;

        flex: none;
        order: 0;
        flex-grow: 0;
    }
    
    /*List > ¿Row? > List Item > Name*/

    main.list>article>section.name{
        position: absolute;
        bottom: 0;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 24px 8px 4px;

        width: 104px;
        height: 44px;

        background: #EFEFEF;
        border-radius: 7px;

        flex: none;
        order: 1;
        align-self: stretch;
        flex-grow: 0;
        z-index: 1;
    }
    main.list>article>section.name>span{
        width: 88px;
        height: 16px;

        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 16px;

        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;

        color: #1D1D1D;

        flex: none;
        order: 0;
        flex-grow: 1;
    }

    /*List > ¿Row? > List Item > Image*/

    main.list>article>section.image{
        position: absolute;
        left: 16px;
        top: 16px;
        width: 72px;
        height: 72px;

        flex: none;
        order: 2;
        flex-grow: 0;
        z-index: 2;
    }
    main.list>article>section.image>img{
        position: absolute;
        width: 100%;
        height: auto;
        left: 0%;
        right: 0%;
        top: 0%;
        bottom: 0%;
    }

    /*Sort card*/
    div.modal{
        display: none;
        position: fixed;
        z-index: 3;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.5);
    }

    div.modal>div.content-modal{
        display: flex;
        position: absolute;
        box-sizing: border-box;
        margin: 0!important;
        top: 6em;
        right: 14px;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px 4px 4px;
        width: 113px;
        height: 132px;

        background: #DC0A2D;

        box-shadow: 0px 3px 12px 3px rgba(0, 0, 0, 0.2);
        border-radius: 12px;
    }

    /*Sort card > Frame 54*/

    div.modal>div.content-modal>div.header-modal{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 16px 20px;

        width: 105px;
        height: 48px;

        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 0;
        box-sizing: border-box;
    }

    /*Sort card > Frame 54 > Sort by*/

    div.modal>div.content-modal>div.header-modal>span{
        width: 47px;
        height: 16px;

        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 16px;

        display: flex;
        align-items: center;

        color: #FFFFFF;

        flex: none;
        order: 0;
        flex-grow: 0;
    }

    /*Sort card > Frame 55*/

    div.modal>div.content-modal>div.body-modal{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 16px 20px;
        gap: 16px;

        width: 105px;
        height: 80px;

        background: #FFFFFF;

        box-shadow: inset 0px 1px 3px 1px rgba(0, 0, 0, 0.25);
        border-radius: 8px;

        flex: none;
        order: 1;
        flex-grow: 0;
        box-sizing: border-box;
    }

    /*Sort card > Frame 55 > Radio Button(1)*/

    div.modal>div.content-modal>div.body-modal>div.op_number{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        gap: 8px;

        width: 65px;
        height: 16px;

        flex: none;
        order: 0;
        flex-grow: 0;
    }

    /*Sort card > Frame 55 > Radio Button(1) > Radio Button*/

    div.modal>div.content-modal>div.body-modal>div.op_number>input#radio_number{
        width: 16px;
        height: 16px;

        flex: none;
        order: 0;
        flex-grow: 0;
        accent-color: #DC0A2D;
    }

    /*Sort card > Frame 55 > Radio Button(1) > Label*/

    div.modal>div.content-modal>div.body-modal>div.op_number>label#label_number{
        width: 41px;
        height: 16px;

        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 16px;

        color: #1D1D1D;

        flex: none;
        order: 1;
        flex-grow: 0;
    }

    /*Sort card > Frame 55 > Radio Button(2)*/

    div.modal>div.content-modal>div.body-modal>div.op_name{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        gap: 8px;

        width: 65px;
        height: 16px;

        flex: none;
        order: 1;
        align-self: stretch;
        flex-grow: 0;
    }

    /*Sort card > Frame 55 > Radio Button(2) > Radio Button*/

    div.modal>div.content-modal>div.body-modal>div.op_name>input#radio_name{
        width: 16px;
        height: 16px;

        flex: none;
        order: 0;
        flex-grow: 0;
        accent-color: #DC0A2D;
    }

    /*Sort card > Frame 55 > Radio Button(2) > Label*/

    div.modal>div.content-modal>div.body-modal>div.op_name>label#label_name{
        width: 31px;
        height: 16px;

        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 16px;

        color: #1D1D1D;

        flex: none;
        order: 1;
        flex-grow: 0;
    }
}